/*///////////// RESET START /////////////*/

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/*///////////// RESET END /////////////*/
/*///////////// LAYOUT START /////////////*/

.container {
  width: 100%;
  max-width: 790px;
  margin: 0 auto;
}

/*///////////// LAYOUT END /////////////*/
/*///////////// TYPOGRAPHY START /////////////*/

* {
  font-family: 'Merriweather Sans', sans-serif;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: left;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.caption {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 13.33px;
}

/* XS breakpoint */
.title-1 {
  font-size: 42px;
  line-height: 45px;
  font-weight: 800;
}
h1 {
  font-size: 42px;
  line-height: 45px;
}

/* S breakpoint */
@media (min-width:375px) {
  h1.title-1 {
    font-size: 49px;
    line-height: 52px;
  }
  h1 {
    font-size: 49px;
    line-height: 52px;
  }
}

/* M breakpoint */
@media (min-width:580px) {
  h1.title-1 {
  }
  h1 {
  }
}

/* L breakpoint */
@media (min-width:750px) {
  h1.title-1 {
    font-size: 70.5px;
    line-height: 76.8px;
  }
  h1 {
  }
}

/* XL breakpoint */
@media (min-width:992px) {
  h1.title-1 {
    font-size: 80px;
    line-height: 87.2px;
  }
  h1 {
  }
}

/* XXL breakpoint */
@media (min-width:1200px) {
  h1.title-1 {
    font-size: 124px;
    line-height: 143px;
  }
  h1 {
  }
}

/*///////////// TYPOGRAPHY END /////////////*/

/*///////////// BUTTONS START /////////////*/

button {
  cursor: pointer;
}

/*///////////// BUTTONS END /////////////*/

/*///////////// HEADER START /////////////*/

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}

/*///////////// HEADER END /////////////*/

/*///////////// TABLES START /////////////*/

th, td {
  border: 1px;
}

/*///////////// TABLES END /////////////*/

/*///////////// COLORS START /////////////*/

body.light-mode {
  background: #F9F9F9;
}

body.dark-mode {
  background: #222222;
}

body.dark-mode * {
  color: #F9F9F9;
}

body.light-mode a, body.light-mode a:visited {
  color: #00000088;
}

body.dark-mode a, body.dark-mode a:visited {
  color: #FFFFFF88;
}

body.light-mode a:hover {
  color: #000000;
}

body.dark-mode a:hover {
  color: #FFFFFF;
}

/*///////////// COLORS END /////////////*/