/*///////////// RESET START /////////////*/

* {
  margin: 0;
  padding: 0;
  border: none;
}

/*///////////// RESET END /////////////*/
/*///////////// TYPOGRAPHY START /////////////*/

* {
  font-family: 'Merriweather Sans', sans-serif;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: left;
}

/* XS breakpoint */
h1, .heading-1 {
  font-size: 42px;
  line-height: 45px;
}

/* S breakpoint */
@media (min-width:375px) {
  h1, .heading-1 {
    font-size: 49px;
    line-height: 52px;
  }
}

/* M breakpoint */
@media (min-width:580px) {
  h1, .heading-1 {
  }
}

/* L breakpoint */
@media (min-width:750px) {
  h1, .heading-1 {
    font-size: 70.5px;
    line-height: 76.8px;
  }
}

/* XL breakpoint */
@media (min-width:992px) {
  h1, .heading-1 {
    font-size: 80px;
    line-height: 87.2px;
  }
}

/* XXL breakpoint */
@media (min-width:1200px) {
  h1, .heading-1 {
    font-size: 104px;
    line-height: 113px;
  }
}

/*///////////// TYPOGRAPHY END /////////////*/

/*///////////// BUTTONS START /////////////*/

/*///////////// BUTTONS END /////////////*/

